/* Global Resets */
* {
    box-sizing: border-box;
}

html, body, div, section, aside, main, article, a, p, span, nav, h1, h2, h3, h4, img, header, footer {
    padding: 0;
    margin: 0;
    font: inherit;
}

img {
    display: block;
    width: 100%;
}

html {
    font-size: 1.3em;
}
html a {
    text-decoration: none;
}
html a:hover {
    text-decoration: underline;
}
/* Resets End */

/* JGF Blanket Statements */
.jgf-head_container, .jgf-main_container, .jgf-foot_container {
    display: block;
}

.jgf-head_nav {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.jgf-row_container, .jgf-col_container {
    display: flex;
    gap: 1rem;
}

.jgf-row_container {
    flex-direction: row;
}

.jgf-col_container {
    flex-direction: column;
}

.jgf-grid_container {
    display: grid;
}

.jgf-grid_container.jgf-grid__col-4 {
    grid-template-columns: repeat(4, 1fr);
}